@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.color-picker,
.logo-upload,
.footer-customization {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  border-radius: 5px;
}

button {
  transition: background-color 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
}

.action-buttons button {
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.action-buttons button:hover {
  transform: translateY(-2px);
}

.action-buttons button:active {
  transform: scale(0.95);
}

.action-buttons button[disabled] {
  cursor: not;
}

@keyframes card-popup {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.card-popup {
  animation: card-popup 0.6s ease-out;
  z-index: 50;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-out;
}



.fade-in-section {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
